<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Books Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="signIn()" *ngIf="!user"> <ion-icon name="logo-google"></ion-icon></ion-button>
  <ion-button expand="full" (click)="signOut()" *ngIf="!user"> <ion-icon name="log-out-outline"></ion-icon></ion-button>
  <ion-button expand="full" (click)="refresh()" *ngIf="!user"> <ion-icon name="refresh-outline"></ion-icon></ion-button>

  <ion-item *ngIf="user">
    <ion-avatar slot="start">
      <img [src]="user.imageUrl" />
    </ion-avatar>
    <ion-label>
      {{user.givenName}} {{user.familyName}}
      <p>{{user.email}}</p>
    </ion-label>
  </ion-item>
</ion-content>
